@import '../../app.scss';

.popover-content{
  width:230px !important;
}

.item-radio-checked ion-label{
	color: $logo_blue !important;
}

.radio-md .radio-checked {
    border-color: $logo_blue !important;
}

.radio-md .radio-inner{
	background-color:$logo_blue !important
}

.radio-icon.radio-checked{
  .radio-inner{
    border-color: $logo_blue
  }
}