<!-- https://github.com/ionic-team/ionic-preview-app/blob/master/src/pages/popovers/basic/styles.scss -->
<ion-list radio-group [(ngModel)]="sortMechanism" (ionChange)="onSelection($event)" class="popover-page">

  <ion-item class="text-upvotes">
    <ion-label>Upvotes</ion-label>
    <ion-radio value="Upvotes"></ion-radio>
  </ion-item>

  <ion-item class="text-timefifo">
    <ion-label>Oldest First</ion-label> 
    <!-- Ascending: arranged from smallest to largest time -->
    <ion-radio value="TimeFIFO"></ion-radio>
  </ion-item>
  
  <ion-item class="text-timelifo">
    <ion-label>Newest First</ion-label>
    <!-- Ascending: arranged from largest to smallest time -->
    <ion-radio value="TimeLIFO"></ion-radio>
  </ion-item>
 <!-- commented out until functionality is clear -->
  <ion-item class="text-resolved">
    <ion-label>Resolved</ion-label>
    <ion-radio value="Resolved"></ion-radio>
  </ion-item>

</ion-list>