:host {
  display: block;
  min-height: calc(100vh - 164px);
  position: relative;
  flex: 1;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.005em;
  margin-bottom: 0;
  margin-top: 0.83em;
}

.item-radio-checked ion-label{
	color: blue !important;
}

.radio-md .radio-checked {
    border-color: blue !important;
}

.radio-md .radio-inner{
	background-color:blue !important
}