@import "../../app/app";

.full-bottom-btn{
    position: absolute;
    float: left;
    bottom: 0;
    margin: 0;
    font-weight: bold;
}

ion-input{
    padding: 10px 22px;
    font-size: 2rem;
    color: black
}

