@import '../../app.scss';

ion-card {
	&.unsolved{
		background-color:$unsolved_card_color
	}
	&.solved{
		background-color:$solved_card_color
	}
	#first-panel{
		ion-item.item{
			background-color:transparent;
		}
		ion-label.label{
			border-bottom:1px solid #333;
			padding-bottom:10px;
			h1{
				font-size:2.7rem;
				margin-bottom:5px;
			}
		}
		.poster-time{
			p{
				color:#222;
			}
			span{
				margin:0px 5px;
			}
		}
	}
}