<ion-card [ngClass]="resolved?'resolved':'unresolved'">
  <div>
    <ion-item (click)="toggleCollapse()">
      <div float-right class="peer2ins-card-upvotes"><span>{{upvotes}}</span> {{upvotes > 1? "upvotes":"upvote"}}</div>
      <h2 margin-bottom class="peer2ins-card-title">
        {{title}}
      </h2>
      <ion-icon float-right name="arrow-down" md="ios-arrow-down" [ngClass]="{'collapse-icon': true, 'expand': !collapsed}"></ion-icon>
      <div class="poster-time">
        <p>{{poster}} <span>|</span> {{time | date:'short'}}</p>
      </div>
    </ion-item>

    <div [ngClass]="{'collapseDiv': true, 'expand': !collapsed}">
      <ion-card-content class="second-panel-container">
        <div [ngClass]="{'second-panel-shadow-unresolved': !resolved, 'second-panel-shadow-resolved': resolved}"></div>
        <div class="second-panel">
          <p id="description">{{description?description:'-'}}</p>
        </div>

        <!-- Button -->
        <div class="peer2ins-card-solve-btn" *ngIf="instructorSide">
          <button *ngIf="!resolved" ion-button full (click)="makeResolved()" color="light">Mark as
            Resolved
          </button>
          <ion-label id="resolvedMessage" *ngIf="resolved">
            <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
            <p>Question Resolved</p>
          </ion-label>
        </div>

        <div class="peer2ins-card-solve-btn" *ngIf="!instructorSide">
          <button *ngIf="!upvoted" ion-button full (click)="toggleUpvote()" color="light">
              <span style="margin-right:10px;">Upvote</span>
              <ion-icon ios="ios-thumbs-up" md="md-thumbs-up" style="font-size:x-large"></ion-icon>
          </button>
          <button *ngIf="upvoted" ion-button full (click)="toggleUpvote()" color="light">
              <span style="margin-right:10px;">Remove upvote</span>
              <ion-icon ios="ios-thumbs-down" md="md-thumbs-down" style="font-size:x-large"></ion-icon>
          </button>
          <!-- <ion-label id="upvotedMessage" *ngIf="upvoted">
            <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
            <p>Question upvoted</p>
          </ion-label> -->
        </div>


      </ion-card-content>
    </div>
  </div>
</ion-card>