@import '../../app.scss';

.scroll-content{
  padding: 0 !important;
}

ion-card {
  margin: 12px 8px !important;
  width: calc(100% - 16px) !important;

  .collapse-icon{
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    -o-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
    &.expand{
      -webkit-transform: rotateZ(0);
      -moz-transform: rotateZ(0);
      -ms-transform: rotateZ(0);
      -o-transform: rotateZ(0);
      transform: rotateZ(0);
    }
  }

	&.unresolved{
		border:1px solid $logo_blue;
		ion-item.item{
			background-color:$logo_blue !important;
		}
		h2{
			color:white;
		}
		.poster-time{
			p{
				color:white;
			}
		}
		.collapse-icon{
			color:white;
		}
	}
	&.resolved{
		border:1px solid $resolved_card_color;
		ion-item.item{
			background-color:$resolved_card_color !important;
		}
		.poster-time{
			p{
				color:#333;
			}
		}
		#description{
			color:#333;
		}
		#upvotes{
			color:#333;
		}
		.collapse-icon{
			color:#333;
		}
	}
  .collapseDiv{
    max-height: 0;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    &.expand{
      max-height: 400px;
    }

    background-color:white;
    #description,#upvotes{
      color:black ;
    }
  }
	// ion-item.item{
	// 	background-color:transparent;
	// }
	ion-label.label{
		// border-bottom:1px solid #333;
		// padding-bottom:10px;
		h2{
			font-size:1.7rem;
			font-weight:bold;
			margin-bottom:10px !important;
			margin-top:6px !important;
		}
	}
	.second-panel-container{
		padding: 0;
	}
  .second-panel-shadow-unresolved{
    height:1px;
    box-shadow: 0 -2px 5px 3px rgba(0,0,0,0.4);
    background-color: $logo_blue;
  }
  .second-panel-shadow-resolved{
    height:1px;
    box-shadow: 0 -2px 5px 3px rgba(0,0,0,0.25);
    background-color: $resolved_card_color;
  }
	.second-panel{
		//border-top: 1px solid #666;
		padding: 13px 16px 0;
	}
	.poster-time{
		span{
			margin:0px 5px;
		}
	}
	#description{
		// color:black;
		font-size:1.6rem;
		margin-bottom:16px;
	}
	#upvotes{
		// color: white;
		font-size: 1.2rem;
		margin: 10px 0;
	}
	#resolvedMessage{
    padding: 16px 0 6px 0;
    margin: 0;
		text-align:center;
		ion-icon{
			vertical-align: middle;
			font-size:2.5rem;
			margin-right:5px;
		}
		p{
			vertical-align: middle;
			display:inline-block;
			font-size:1.5rem;
			margin-bottom:0px;
			line-height:1;
			color:black;
		}
	}
	#resolvedMessage.label.label-ios{
		ion-icon{
			font-size:4rem !important
		}
		p{
			font-size:1.7rem !important
		}
	}
	.ion-md-checkmark{
		ion-icon{
			font-size:2.5rem !important;
		}
		p{
			font-size:2rem !important;
		}
	}
  .peer2ins-card-solve-btn{
    text-align: center;
    //padding: 0 12px;
    button{
      margin: 16px 0 0 0;
    }
  }
  .peer2ins-card-upvotes{
    font-size: 1.3rem;
    font-weight: normal;
    color: #DEE2F9;
    margin-top: 5px;
    span{
      font-size: 1.6rem;
      font-weight: bold;
    }
  }
  .peer2ins-card-title{
    //display: inline;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
