<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="openMenu()">
        <img width="32px" height="32px" src="assets/icon/app_icon/app_icon_blue_nobk_64_64.png"/>
      </button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
    <ion-buttons right>
      <button ion-button icon-only color="dark">
        <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
	<div *ngIf="pages && pages.length==0">
    <div>
		  <h1>Welcome to QuickQ!</h1>
    </div>
    <div>
		  <p>Please join or create a board to get started. You can do so by clicking on the add icon in the top right corner.</p>
    </div>
  </div>
  <div *ngIf="pages && pages.length>0">
    <!-- <p *ngFor="let page of pages">This is a page with title: {{page.title}}</p> -->
    <sd-board-card *ngFor="let page of boards" [data]=page (click)="openPage(page)"></sd-board-card>
    <!-- <sd-board-card *ngFor="let page of instructorBoards" [data]=page (click)="openPage(page)"></sd-board-card> -->
  </div>
</ion-content>
