<ion-menu [content]="content">
  <ion-content>
    <ion-title padding>
      Hello{{user.displayName? ", " + user.displayName: ""}}
    </ion-title>
    <button ion-item (click)="toDashboard()" [ngClass]="{'selected-menu-item': selectedBoard == 'dashboard'}">Dashboard</button>
    <ion-list>
      <button ion-item *ngFor="let p of boards" (click)="openPage(p)">
        <span [ngClass]="{'selected-menu-item': p==selectedBoard}">{{p.title}}</span>
      </button>
    </ion-list>
    <button ion-button full (click)="logout()">Sign out</button>
  </ion-content>
</ion-menu>
<ion-nav #content swipeBackEnabled="false"></ion-nav>
