// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


$screen_width_mobile: 650px;
$screen_width_tablet: 768px;
$screen_width_desktop: 1200px;

@media screen and (min-width: $screen_width_mobile) {
	.mobile{
		display:none;
	}
}

@media screen and (max-width: $screen_width_mobile) {
	.not-mobile{
		display: none;
	}
}

$unresolved_card_color: #ed7b81;
// #F0574F #e88d8d
$resolved_card_color: #bbdb9b;
// #1FDC58 #b1ed9d
