.full-bottom-btn{
  position: absolute;
  float: left;
  bottom: 0;
  margin: 0;
}

.new-question-content{
  .scroll-content{
    bottom: 3.2em;
    ion-input{
      padding: 10px 16px;
      font-size: 1.5em;
    }
    ion-textarea{
      height: calc(100% - 10em);
      padding: 0 16px 0 16px;
      font-size: 1em;
    }
    ion-item{
      .item-inner{
        border-bottom: 0;
      }
      ion-checkbox{
        padding: 10px 16px;
        margin-right: 0 !important;
      }
    }
  }
}
