@import "../../app/app";

.full-bottom-btn{
  position: absolute;
  float: left;
  bottom: 0;
  margin: 0;
}

.new-question-content{
  height: calc(100% - 2.8em);
  font-size: 2rem;
  .toolbar-background-ios, .toolbar-background-md{
    background-color: white;
  }
  ion-toolbar{
    padding: 4px 10px;
  }
  .scroll-content{
    ion-input{
      padding: 10px 22px;
      font-size: 3rem;
      font-weight: bold;
      //color: $logo_blue;
    }
    ion-textarea{
      padding: 0 22px;
      textarea{
        height: 100%;
        font-size: 1.8rem;
        margin-top: 0;
        margin-bottom: 0;
      }
      &.input-md{
        height: calc(100% - 56px - 13.5rem) !important;
      }
      &.input-ios{
        height: calc(100% - 44px - 13.5rem) !important;
      }
    }
    ion-item{
      position: absolute;
      bottom: 0;
      .item-inner{
        border-bottom: 0;
      }
      ion-checkbox{
        padding: 10px 16px;
        margin-right: 0 !important;
      }
    }
  }
}
